<div class="top-menu">

  <div>
    <button ng-click="vm.onClick()" class="hamburger hamburger--stand" ng-class="vm.state" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>

  <div class="top-menu-list" ng-show="vm.isShown()">
    <ul>
      <li class="top-menu-entry"><a href="/">Home</a></li>
      <li class="top-menu-entry"><a href="/settings">Settings</a></li>
      <li class="top-menu-entry"><a href="/users/sign_out"> Logout </a></li>
    </ul>
  </div>

</div>
