<div class="row green-under">
  <div class="col-xs-11 col-md-11 col-sm-11">
    <h2 class="pull-right">Edit profile</h2>
  </div>
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
</div>

<div class="row">
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
  <div class="col-xs-11 col-md-11 col-sm-11">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="bottom-actions">
        <div class="">
          <%= f.submit "OK", class: 'btn btn-default btn-circle btn-xl' %>
        </div>
        <div class="">
          <%= link_to "Back", root_path, class: 'btn btn-default btn-circle btn-xl'%>
        </div>
      </div>
    <% end %>

  </div>
</div>
