<div class="row green-under">
  <div class="col-xs-11 col-md-11 col-sm-11">
    <h2 class="pull-right">Change your password</h2>
  </div>
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
</div>

<div class="row">
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
  <div class="col-xs-11 col-md-11 col-sm-11">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="bottom-actions">
        <div class="">
          <%= f.submit "OK", class: 'btn btn-default btn-circle btn-xl' %>
        </div>
        <div class="">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
