<div class="row green-under">
  <div class="col-xs-11 col-md-11 col-sm-11">
    <h2 class="pull-right">Forgot your password?</h2>
  </div>
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
</div>

<div class="row">
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
  <div class="col-xs-11 col-md-11 col-sm-11">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="bottom-actions">
        <div class="">
          <%= f.submit "Send", class: 'btn btn-default btn-circle btn-xl' %>
        </div>
        <div class="">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
