.create-fp-dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
}

.view-fp-dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
}

.dialog {
  padding: 12px;
}

.dialog-actions {
  margin: 12px;
}
