.top-to-bottom {
  padding: 0;
  height: 100%;
}

.full-width {
  margin: 0;
  width: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

.green-under {
  border-bottom: 1px solid #27ae60;
  margin-bottom: 12px;
}

