.top-menu {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
}

.top-menu-list {
  position: relative;
}

.top-menu-entry {
  list-style: none;
  font-size: 24px;
  font-weight: 600;
  padding-top: 16px;

  a {
    color: black;
  }
}

