<div class="row green-under">
  <div class="col-xs-11 col-md-11 col-sm-11">
    <div class="pull-right"> <h2>Log in</h2> </div>
  </div>
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
</div>
<div class="row">
  <div class="col-xs-1 col-md-1 col-sm-1"> </div>
  <div class="col-xs-11 col-md-11 col-sm-11">

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>

      <div class="bottom-actions">
        <div class="">
          <%= f.submit "OK", class: 'btn btn-default btn-circle btn-xl' %>
        </div>
        <div class="">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>

  </div>
</div>
