<!DOCTYPE html>
<html>
<head>
  <title>EzyServer</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <script src=<%= "https://maps.googleapis.com/maps/api/js?key=#{Settings.googlemap.key}" %>></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
  <ezypark-menu></ezypark-menu>
  <%= yield %>
</body>
</html>
